<h1><%= @list.name %></h1>
<p><%= form_for [@list,@task] do |f|%>
  <%= f.text_field :description %>
  <%= f.label :description %>
  <%= f.submit %>
  <% end %>

  <% @list.tasks.each do |task| %>
 <p> <%= task.description %> </p>
  <% end %>
</p>
